<div style="margin-bottom: 3px;"></div>
<mat-toolbar color="accent" class="mat-elevation-z9" >
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"><img src="/assets/img/location2.jpeg"/></div> -->
        <mat-card-title>About US</mat-card-title>
        <mat-card-subtitle>Its All about family</mat-card-subtitle>
    </mat-card-header>

</mat-toolbar>


<div>
  <mat-toolbar color="acent">
    <mat-tab-group>
      <mat-tab label="History"> Content 1 </mat-tab>
      <mat-tab label="Pics">

        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>







      </mat-tab>
      <mat-tab label="Stories"> Content 3 </mat-tab>
    </mat-tab-group>

  </mat-toolbar>

</div>