
<div style="margin-bottom: 3px;"></div>
<mat-toolbar color="accent" class="mat-elevation-z9" >
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"><img src="/assets/img/location2.jpeg"/></div> -->
        <mat-card-title>Home</mat-card-title>
        <mat-card-subtitle>Welcome to ShakthiFairmont</mat-card-subtitle>
    </mat-card-header>

</mat-toolbar>


<!-- 
<div class="linespace"> </div>
<mat-card [style.backgroundColor]="'#33b5e5'" class="example-card mat-elevation-z5 ">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"><img src="/assets/img/location2.jpeg"/></div> 
    <mat-card-title>Home</mat-card-title>
    <mat-card-subtitle>Welcome to ShakthiFairmont</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<br> -->

<div class="linespace"> </div>
<img src="/assets/img/sf-home-1.jpg" />
<div class="linespace"> </div>
<img style="width: 77%" src="/assets/img/sf-home-2.jpg" />
<div class="linespace"> </div>
<img style="width: 77%" src="/assets/img/sf-home-3.jpg" />
