.login-cart-css{
    
    min-width: 150px;
    max-width: 743px;
    width: 80%;
    margin:2em;
}

.form-header-css{

    min-width: 120px;
    max-width: 400px;
    width: 100%;
    margin-left: 50px; 
}
.form-field-css{

    min-width: 120px;
    max-width: 400px;
    width: 100%;
    margin-left: 50px; 
}

.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .full-width {
    width: 100%;
  }
.dialog-form{
    width:20%;
    height: 40%;

}
// .md-dialog-container {
//     background-color: #000;
//     width: 250px;
//     height: 250px
// }