<!-- <div class="example-container">
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome</h1>
      <h2>Angular & Bootstrap Demo</h2>
    </div>
  
    <div class="panel panel-primary">
      <div class="panel-heading">Status</div>
      <div class="panel-body">
        <h3>{{title}}</h3>
      </div>
    </div>
  </div>
</div> -->
<nav class="navbar navbar-default navbar-custom">    
  <ul class="nav nav-pills">
      <a class="navbar-brand" href="#">
          <img alt="SF" src="...">
        </a>
    <li role="presentation" ><a href="#">Home</a></li>
    <li role="presentation" ><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
  </ul>
</nav>
