
<div style="margin-bottom: 3px;"></div>
<mat-toolbar color="accent" class="mat-elevation-z9" >
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"><img src="/assets/img/location2.jpeg"/></div> -->
        <mat-card-title>Contact US</mat-card-title>
        <mat-card-subtitle>Address</mat-card-subtitle>
    </mat-card-header>

</mat-toolbar>

<!-- 
<div class="linespace"> </div> 

 <div> 
   

    <mat-card [style.backgroundColor]="'#33b5e5'" class="example-card mat-elevation-z5 ">
        <mat-card-header >
          <div mat-card-avatar class="example-header-image"><img src="/assets/img/location2.jpeg"/></div>
          <mat-card-title>Contact US</mat-card-title>
          <mat-card-subtitle>Address</mat-card-subtitle>
        </mat-card-header>
     </mat-card>   

</div>  -->
<br>
<mat-list>
  <mat-list-item>

    <mat-card style="border-color: blue">

      <mat-card-content>
        <p>Government High School & Jr College, On, Jr College Rd, Kumbena Agrahara, 
          Krishnarajapura, Bengaluru, Karnataka 560067, India
        </p>
      </mat-card-content>

    </mat-card>


  </mat-list-item>
  <mat-divider ></mat-divider>
  <mat-list-item>
   
      <mat-card style="border-color: blue">

          <mat-card-content>
            <p>Government High School & Jr College, On, Jr College Rd, Kumbena Agrahara, 
              Krishnarajapura, Bengaluru, Karnataka 560067, India
            </p>
          </mat-card-content>
    
        </mat-card> 
  </mat-list-item>
</mat-list>

<!-- 
<div class="split left">
    <div class="centered">
      <img src="img_avatar2.png" alt="Avatar woman">
      <h2>Jane Flex</h2>
      <p>Some text.</p>
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
      <img src="img_avatar.png" alt="Avatar man">
      <h2>John Doe</h2>
      <p>Some text here too.</p>
    </div>
  </div> -->
